__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.DS_Store
*.csv
!ml/data/.gitkeep
ml/models/*.pkl
.idea/
.vscode/
node_modules/
dist/
.angular/
.vite/
*.log
package-lock.json
*.parquet
*.nc
*.img
*.joblib
*.dll
*.xlsx
ML_Model_N/NIRVAAH/data/
backend/ml/data/
.env.*
*.db
*.pem
